#topPost {
  display: inline-block;
  width: 100%;
}
#image{
  margin-top: 0%;
  padding-left: 6%;
}
#mirror{

}
#buttonInfo{
  margin: 4%;
}
#model
{
  margin-top: 3%;
}
#container{
  align-items: baseline ;
   margin: 10%;
  justify-content: space-between;
  display: grid;
	grid-template-columns: 30% 30% 30%;

}
.glasses{
  /* background-color: #f3f3f2;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 15px; 
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px ;
  padding-right: 10px;
   /* height: inherit 10%;
  margin-top: 5%;
  margin-left: 2%; */
  display: inline-block; 
  text-align: center;
  background-color: #f3f3f2;
  margin-right: 5%;
  margin-left: 0%;
  margin-top: 5%; 
  font-size: 120%;
  padding-top: 4%;
  padding-bottom: 4% ;
  padding-right: 4%;
  /* background-color: #f3f3f2;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 15px; 
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px ;
  padding-right: 10px */
}
#searchPost {
  float: left;
  width: 30%;
}

#addPost {
  float: right;
  width: 20%;
}

#titltPostList {
  margin-left: 200px;
}

#postList {
  width: 100%;

}

#idPost {
  float: left;
  width: 5%;
  margin-bottom: 10px;
}

#titlePost {
  float: left;
  width: 35%;
  margin-bottom: 10px;
}

#buttonsPost {
  display: flex;
  float: right;
  width: 60%;
  margin-bottom: 10px;
}

#buttons {
  width: 50%;
}

#displayInputs {
  float: left;
  width: 25%;
  display: block;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#buttonAdd {
  color: #03e9f4;
  font-size: 20px;
  letter-spacing: 4px
}

.btnBoldPost {
  background-color: #2e3a4f;
  color: #03e9f4;
  font-size: 20px;
  letter-spacing: 4px;
  margin-left: 5px;
  border-radius: 5px;
}

#boldPost {
  color: #62c4cf;
  font-size: 25px;
}