.purchase-item {
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.purchase-item img {
    width: 100px;
    border-radius: 5px;
}

.purchase-detail {
    flex: 1;
    padding: 0px;
    margin: 0px 0;
}

.purchase-name {
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
}

.purchase-price {
    font-size: 1.2em;
    color: #888;
}

.purchase-date, .product-model, .product-userName {
    margin: 10px 0;
    color: #666;
}

.purchase-rating {
    margin-top: 0px;
}

.purchase-tags {
    margin-top: 0px;
}


@media (max-width: 600px) {
    .purchase-item {
        padding: 0px;
    }

    .purchase-item img {
        width: 100px;
    }

    .purchase-detail {
        margin: 0px 0;
        font-size: 0.8em;
    }

    .purchase-name {
        font-size: 1.2em;
    }

    .purchase-price {
        font-size: 1em;
    }

    .purchase-date, .product-model, .product-userName {
        margin: 0px 0;
    }

    .purchase-rating {
        margin-top: 0px;
    }

    .purchase-tags {
        margin-top: 0px;
    }
    .purchase-detail,.product-date {
        margin: 0px 0;
        font-size: 0.8em;
    }

    .purchase-date, .product-model, .product-userName {
        margin: 0px 0;
        font-size: 0.9em;
    }
    .MuiSelect-select {
        padding: 0px;
        font-size: 14px;
    }

    .MuiInputBase-input {
        padding: 0px;
        font-size: 14px;
    }

    .purchase-detail {
        font-size: 0.9em;
    }
    Select{
        padding: 0px 0px;
        font-size: 5px;
    }
}