.glassesImage{
    width: 20% ;
    margin-left: 7%;
}
.titleContainer{
    display:flex;
    align-items: center;
    flex-direction: row-reverse
    
}
.title{
    font-size: 150%;
    font-weight: bold;
}
.noneBorder{
  
    width: 50%;
    padding: 1%;
    
}
.border{
    width: 100%;
    padding: 1%;
    background-color: black;
    
}
.payingButton{  margin: 5%;
    margin-left: 20%;
  
}
