#delete{
    background-image: url("/PROJ/src/img/bin.png");}
#addComment{
    background-color: #2e3a4f;
    color: #03e9f4;
    font-size: 16px;
    letter-spacing: 4px
}
.css-1ri6ub7-MuiPaper-root-MuiCard-root {
    overflow: hidden;
    padding:10px;
    margin: 10px;
}
.cards{
    margin:30px
}
Button{
    background-color: #d5dce2;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root {
    background-color: #07131d;
}