    #select{
        
        display: inline-block;
    }
    #sortTitle{margin-right:88%;margin-top: 0%;}
    #buttonAdd{
        display: inline-block;
    
        margin-top: 0%;
        padding-top: 0%;
    }
    #todosTop{
        width: 100%;
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    }   
    #search{
        width: 20%;
        display: inline-block;
    } 
    #container{
        display: inline-block;
        margin-bottom: '10px';
        width: 80%;
        font-family: 'Lobster', sans-serif;
        text-align: center;
    }
    
    #todosHeader{
        text-align: center;
    }
    .todosContent{
        float: left;
        width: 70%;
        margin-bottom: 10px;
    }
    
    .todosButton{
        float: right;
        width: 20%;
        margin-bottom: 10px;
    }
    
    #idTodos{
        float: left;
        width: 12%;
    }
    #titleTodos{
        display: flex;
        float: left;
        width: 65%;
    }
    #completedTodos{
        float: left;
        width: 15%;
    }
    .todosList{
        
        margin-bottom: 20px;
    }
    #addTodo{
        background-color: #2e3a4f;
        color: #03e9f4;
        font-size: 16px;
        letter-spacing: 4px 
    }
    
    
    
    